.flip-site-name {
    color:cornsilk;
    text-decoration: none;
    font-size: 11px; 
}
.flip-site-slogan{
    color: #ffe500;
    font-size: 11px;
    font-size: 13px;
}
.navbar-brand img {
    height: 23px;
}
.bg-dark{
    background-color: #2874f0;
}
.site-logo {
    text-decoration: none;
}
.flip-site-slogan img {
    height: 10px;
    width: 10px;
}
.slogan-wrap {
    margin-top: -15px;
}
header {
    background-color: #2874f0;
}
div#block-flipcart-branding {
    float: left;
}
input[type=search] {
    width:500px !important;
    padding: 0 16px !important;
    border-radius: 2px 0 0 2px !important;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px !important;
    margin-top: 8px !important;
    margin-right: -8px !important;
    background-color: #fff !important;
} 
.search-block-form input[type=submit] {
  color: transparent;
  background: url("images/search-icon.svg") center center no-repeat #fff;
  height: 34px;
  width: 34px;
  border-radius: 2px 0 0 2px !important;
  margin-top: 9px !important;
  border: none;
  margin-left: -37px;
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar
 > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    display: block !important;
}
.flip-login {
    color: #fff !important;
    font-weight: 500 !important;
    background-color: #fff !important;
    cursor: pointer !important;
    border-radius: 2px !important;
    height: 32px !important;
    padding: 5px 40px !important;
    border: 1px solid #dbdbdb !important;
    text-decoration: none !important; 
}
.menu .menu-item > a{
    color: #ffffff !important;
    text-decoration: none !important;
}
.navbar-nav > li > a{
    color: #ffffff !important;
    text-decoration: none !important;
}
.Main-navigation-hover{
    color: #ffffff !important;
    text-decoration: none !important;
}
.flip-anonymous-user{
    color: #fff !important;
}
ul.sf-menu a {
    display: block;
    padding: 1em 1.5em;
    position: relative;
    color: #ffff;
    text-decoration: none;
}
*, ::after, ::before {
    box-sizing: border-box; 
}
ul.sf-menu li, ul.sf-menu a, ul.sf-menu span, ul.sf-menu div { 
  color: #fff ! important;  
  background-color: #1778f0;
  font-weight: 500 !important;
  padding-right: 36px;
}
.sf-depth-1{
    background-color: #fff;
}
.link-text{
    padding: 5px;
}
.field__label {
    font-weight: bold;
    display: none;
}
a {
    color: #000;
    text-decoration: none !important;
    text-align: left !important;
} 
.flip-my-pro {
    bottom: 100%;
    border-bottom-color: #f0f0f0;
    border-width: 10px; 
    border: solid transparent;
    position: absolute; 
    left: 50%;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);  
    width: 0;
    height: 0; 
}
.views-view-grid .views-col {
    float: left;
    /* text-align: center; */
}
body{
    background-color: #fff !important;
}
.slider_description {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 75%;
    font-size: 15px;
    display: none;
}
.slider_name {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    display: none;
}
ul.sf-menu .sf-sub-indicator:after {
    content: "" !important;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 0;
}
.views-col:hover {
    transform: scale(1.1); 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);  
    box-shadow: inset 0 0 0 0 #D80286;
}
.block-page-title-block{
    display: none;
}
.slider_main {
    width: 100%;
    background-color: #ededed;
}
.order-1 {
    /* order: 1!important; */
    background-color: #ededed;
}
::marker {
    font-size: 0px;
}
.sf-hidden {
    display: none !important;
  position: absolute !important;
  background-color: #f1f1f1 !important;
  min-width: 160px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 1 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color : #000 ! important;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown-item:hover  { 
    /* transform: scale(1.1); */
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    transition: -100s;
}
.navbar .nav-item:hover .dropdown-menu {
    /* display: grid; */
   
    border: 1px solid black ! important;
    border-radius: 10px slid black;
    justify-content: center;
    /* position: fixed; */
}
  /* .navbar-nav:hover{/* transform: scale(1.1);  
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);  */

.cus-texo-menu-demo-img-small {
    width: 100px;
    height: 95px;
    text-align: center;
}
.cus-texo-menu-demo-nav{
    text-align: center;
}
.nav-item{
    text-align: center;
    padding: 29px;
    padding-top: 0px;
    padding-bottom: 0px;
} 
.cus-texo-menu-demo-nav-li {
    text-align: center;
    padding: 29px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.cus-texo-menu-demo-img-small:hover{
    transform: scale(1.1);  
    box-shadow: inset 0 0 0 0 #D80286;
    /* box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);   */
}
.maxx{
    background-color: #fff !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 7px;
}
.flip-img-bann-slider{
    position: relative;
    margin: 0px auto;
    top: 0px;
    left: -14px; 
    width: 1496px !important;
    height: 380px;
    overflow: hidden;
    visibility: visible;
}
.slider_main {
    width: 100%;
    background-color: #ededed;
    height: 276px;
}
.flip-img-full-width-slider{
    height: 300px;
}
.flip-img-full-width-slider-block-dwon{
    display: none;
}
.flip-pro-list-reating-icon{
    background-color: #388e3c;
    text-align: left !important; 
}
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    /* background-color: green; */
    color: #fff;
    width: 30px;
    padding: -14px 4px 7px 5px;
    border-radius: 3px;
    font-size: 12px;
    text-align: left !important;
    padding-left: 5px;
    width: 11px;
    height: 12px;
    padding-top: 0px;
}
.flip-pro-list-reating-icon-field{
    background-color: green;
    width: 42px;
    margin-left: 17px;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 0px;
    vertical-align: super;
    height: 24px;
    text-align: center;
    padding-bottom: 21px;
    padding-left: 1px;
    padding-top: -53px;
}
.flip-pro-list-laptop-block-title, .flip-pro-list-samsung-mob-block-title{
    /* text-align: left ! important; */
    margin-left: 16px;
    display: block;
    font-size: 15px;
    font-weight: 500
}
.views-field-field-product-image1{
    text-align: center;
} 
.views-field-field-prices, .views-field-field-delete-price{
    margin-left: 16px;
}
.flip-pro-list-node-page-img{
    width: 0px !important;
}
.flip-pro-list-node-page-row{
    background-color: #fff;
}
.flip-pro-list-node-page-price{
    font-size: 1.75rem;
    font-weight: 500;
}
.flip-pro-list-node-page-delete-price{
    font-size: 16px;
    font-weight: 500;
    margin-left: 16px; 
}
img {
    z-index: -1 !important;
  }
.flip-pro-list-view-field-reating-icon{
    color: #fff;
    background-color: rgb(72, 164, 72);
    padding-top: 0px;
    width: 15px;
    padding-bottom: 2px;
    padding-left: 3px;
    font-size: 9px;
    border-radius: 3px;
}  
.flip-pro-list-samsung-mob-block-field-image, .flip-pro-list-laptop-block-field-image{
    z-index: -1;
} 
svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    /* background-color: green; */
    color: #fff;
    width: 30px;
    padding: -14px 4px 7px 5px;
    border-radius: 3px;
    font-size: 12px;
    text-align: left !important;
    padding-left: 5px;
    width: 11px;
    height: 12px;
    padding-top: 0px;
}
 